* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background-color: #000;
  color: white;
}

.hero-text{
  margin: 0 24px 24px;
}

.hero-text > p{
  font-size: 14px;
  font-weight: 500;
  color: #868686;
  margin-top: 32px;
  line-height: 20px;
}

.hero-button > a{
  color: #ffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding-left: 18px;
  letter-spacing: 3px;
}

.hero-button{
  width: 233px;
  display: flex;
  padding: 16px 32px;
  background-color:#3582E5;
  margin-top: 20px;
}

.hero-text > h1{
  padding-top: 48px;
  font-size: 52px;
}

.hero-image > img{
  width: 90%;
  height: 25em;
  object-fit: cover;
  margin: 0 0 18px 22px;
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .hero-text > p{
      margin-top: 64px;
      line-height: 30px;
  }

  .hero-button > a{
      font-size: 18px;
      padding-left: 32px;
  }

  .hero-text > h1{
      padding-top: 80px;
      font-size: 96px;
    }

    .hero-text > p{
      font-size: 18px;
      margin-top: 64px;
      line-height: 30px;
    }

    .hero-image > img{
      width: 95%;
      height: 34em;;
    }

    .hero-button{
      width: 284px;
    }

@media screen and (min-width:1024px) {
  .hero-text > h1{
    padding-top: 80px;
    font-size: 96px;
  }

  .hero{
    flex-direction: column;
    display: flex;
  }
}
}