<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/about-us.css">
    <title>About US</title>
  </head>
  <body>
    <div class="aboutus inter">
      <div class="aboutus-text">
            <div class="border"><h2>ABOUT US</h2></div>
                <h1>
                    Empowering your financial future
                </h1>
                <p>
                    We understand that financial planning can be a complex and daunting
                    task for many individuals and businesses. That's why we're here to
                    guide you every step of the way, providing tailored solutions that
                    align with your unique financial.
                </p>
                <span class="aboutus-button"><a href="#">LEARN MORE</a></span>
      </div>
      <div class="aboutus-image">
        <img src="../../image/aboutus.png" alt=""/>
      </div>
    </div>
  </body>
</html>
