<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Navigation - Blackmud landing page</title>
    <link rel="stylesheet" href="/src/css/hamburger-v1.css">
</head>
<body>
    <ul class="navigation-item inter" >
        <input id="check" type="checkbox">
        <label for="check" class="hamburger-bar"><i class="fa-solid fa-bars"></i></label>
        <label for="check" class="hamburger-xmark"><i class="fa-solid fa-xmark"></i></label>
        <li class='logo'><a href='#'><img src='/src/image/blackmud logo.svg'/></a></li>
            <span class="menu">
                <li class="menu-items"><a href="#"><p class="menu-home">HOME</p></a></li>
                <li class="menu-items"><a href="#"><p class="menu-aboutus">ABOUT US</p></a></li>
                <li class="menu-items"><a href="#"><p class="menu-services">SERVICES</p></a>
                    <i class="fa-light fa-angle-down"></i>
                </li>
                <li class="menu-items"><a href="#"><p class="menu-blog">BLOG</p></a></li>
                <li class="menu-items"><a href="#"><p class="menu-contact">CONTACT US</p></a></li>
                <span class="button"><a href="#">GET STARTED</a></span>
            </span>        
    </ul>
</body>
</html>