<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Risk Management</title>
  <link rel="stylesheet" href="../../css/hero-section.css" />
</head>
<body>
  <div class="hero">
    <div class="hero-text">
      <h1>Protect your assets with risk management</h1>
      <p>
        Our commitment to providing exceptional service starts with <span class="linebreak"> our team members.
        We carefully select and train each </span> member of our team to ensure they have the skills.
      </p>
      <span class="hero-button"><a href="#">GET STARTED</a></span>
    </div>
    <div class="hero-image">
      <img src="/src/image/city.jpeg" alt=""/>
    </div>
  </div>
</body>
</html>
