<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Financial Component</title>
    <link rel="stylesheet" href="../../css/second-herosection.css" />
</head>
<body>
    <div class="financial">
        <div class="financial-text">
            <h1>Achieve your financial goals</h1>
            <p>
                With our innovative approach and <span class="break">expertise in the financial industry, we
                </span><span class="break">provide you with the tools, knowledge,</span> and strategies you need.
            </p>
            <button class="financial-button"> GET STARTED</button>
        </div>
        <div class="financial-image">
            <img src="../../image/second-herosection.png" alt="" />
        </div>
    </div>
</body>
</html>