<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/video-content.css">
    <title>video-content-component</title>
</head>
<body class="universal">
    <section class="video-content inter">
        <div class="video-content-text">
                <div class="border"><h2>WEBINARS</h2></div>
                    <h1>
                        Building stable financial future
                    </h1>
        </div>
        <div class="video-content">
            <!-- <div class="video-content-text">
                <div class="border"><h2>WEBINARS</h2></div>
                    <h1>
                        Building stable financial future
                    </h1> -->
        </div>
        </div>
    </section>
</body>
</html>