*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.container{
    background-color: #000000;
    padding: 100px 16px 0 16px;
}

.accordion-title h1{
    font-size: 40px;
    color: #ffffff;;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 46px;
    padding-top: 24px;
}

.accordion-title h2{
    font-size: 16px;
    color: #3582e5;
    width: 84px;
    font-weight: 600;
    line-height: 24px;
    /* padding-top: 26px; */
    padding-bottom: 6px;
}

.title-border{
    border-bottom: 1px solid #D9D9D9;
    width: 7%;
}

.accordion-text{
    padding-top: 60px;
}

.accordion-component h1{
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -2px;
    padding-top: 16px;
}

.accordion-component h2{
    font-size: 16px;
    color: #ffffff;
    width: 84px;
    font-weight: 600;
    line-height: 24px;
    /* padding-top: 26px; */
    padding-bottom: 6px;
}

.accordion-border{
    border-bottom: 1px solid #D9D9D9;
    width: 7%;
}

.accordion-component p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 32px;
    line-height: 21px;
    color: #666666;
    margin-bottom: 40px;
}

.accordion-button{
    padding: 12px 20px;
    background-color: #FFFF;
    text-align: center;
    color: #000000;
    border: 0;
}

.accordion-button a{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.accordion-component{
    padding-bottom: 24px;
}

.accordion-image img{
    width: 100%;
    height: 25em;
    object-fit: cover;
    /* margin: 0 0 18px 22px; */
    margin-top: 20px;
}

.accordion-circle{
    width: 40px;
    height: 40px;
    background-color: #3582E5;
    border-radius: 50%;
    margin-top: 8px;
}

.accordion-icon{
    display: flex;
    justify-content: space-between;
}

.accordion-circle img{
    padding: 8px;
}

input{
    transform: translateX(13.3em);
    display: none;
}

.accordion-content h2{
    font-size: 16px;
    color: #D9D9D9;
    width: 84px;
    font-weight: 500;
    line-height: 24px;
    /* padding-top: 26px; */
    opacity: 50%;
}

.accordion-content{
    padding-top: 48px;
}

.accordion-content h1{
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -2px;
    padding-top: 16px;
}

.accordion-circles{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 8px;
}
   
.accordion-circles img{
    padding: 7px;
}

.padding-button{
    padding-bottom: 100px;
}

.color-blue{
    color: #3582E5 !important;
}

.linebreaks{
    display: block;
}

.margin-top{
    margin-top: 38px;
}

/* .accordion-image{
    display: flex;
} */

.accordion-image .accordion-circle{
    display: none;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .container{
        padding: 150px 32px 0 32px;
    }
    
    .accordion-title h1{
        font-size: 72px;
        line-height: 72px;
        padding-top: 28px;
    }
    
    .accordion-title h2{
        font-size: 18px;
        color: #3582e5;
        width: 84px;
        font-weight: 600;
        line-height: 24px;
        /* padding-top: 26px; */
        padding-bottom: 6px;
    }
    
    .title-border{
        width: 5%;
    }
    
    .accordion-text{
        padding-top: 80px;
    }
    
    .accordion-component h1{
        color: #ffffff;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -2px;
        padding-top: 16px;
    }
    
    .accordion-component h2{
        font-size: 18px;
        line-height: 28px;
    }
    
    .accordion-border{
        width: 5%;
    }
    
    .accordion-component p{
        margin-top: 40px;
        font-size: 16px;
    }
    
    .accordion-button{
        padding: 14px 24px;
    }
    
    .accordion-component{
        padding-bottom: 28px;
    }

    .accordion-circle{
        width: 50px;
        height: 50px;
    }
    
    .accordion-circle img{
        padding: 13px;
    }
    
    input{
        transform: translateX(13.3em);
        display: none;
    }
    
    .accordion-content h2{
        font-size: 18px;
        line-height: 26px;
    }
    
    .accordion-content{
        padding-top: 72px;
    }
    
    .accordion-circles{
        width: 50px;
        height: 50px;
    }
       
    .accordion-circles img{
        padding: 12px;
    }
    
    .padding-button{
        padding-bottom: 150px;
    }
    
    .linebreaks{
        display: contents;
    }
}

@media screen and (min-width:1024.1px) and (max-width:1440px){
    .accordion-text{
        padding-top: 80px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .accordion-component{
        padding-bottom: 28px;
        grid-column: 1/7;
    }

    .linebreaks{
        display: contents;
    }

    .linebreak{
        display: block;
    }

    .accordion-image{
        grid-column: 8/12;
    }

    .container{
        background-color: #000000;
        padding: 200px 64px 0 64px;
    }
    
    .accordion-title h1{
        font-size: 88px;
        font-weight: 700;
        line-height: 88px;
        padding-top: 32px;
    }
    
    .accordion-title h2{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    
    .title-border{
        width: 40px;
    }
    
    .accordion-text{
        padding-top: 120px;
    }
    
    .accordion-component h1{
        font-weight: 500;
        font-size: 64px;
        padding-top: 24px;
    }
    
    .accordion-component h2{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    
    .accordion-border{
        border-bottom: 1px solid #D9D9D9;
        width: 40px;
    }
    
    .accordion-component p{
        font-size: 16px;
        font-weight: 500;
        margin-top: 56px;
        line-height: 24px;
    }
    
    .accordion-button{
        padding: 16px 32px;
    }
    
    .accordion-button a{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2.4px;
    }
    
    .accordion-component{
        padding-bottom: 207px;
    }
    
    .accordion-image img{
        height: auto;
        margin-top: 0;
        display: none;
    }
    
    .accordion-circle{
        width: 64px;
        height: 64px;
        background-color: #3582E5;
        border-radius: 50%;
        margin-top: 8px;
        /* grid-column-start: 12; */
        /* display: block !important; */
    }
    
    .accordion-icon{
        display: flex;
        justify-content: space-between;
    }
    
    .accordion-circle img{
        padding: 8px;
        display: block;
    }
    
    input{
        transform: translate(41.3em, -4em);
        display: none;
        z-index: 1;
    }
    
    .accordion-content h2{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    
    .accordion-content{
        padding-top: 88px;
    }
    
    .accordion-content h1{
        color: #ffffff;
        font-weight: 500;
        font-style: normal;
        font-size: 64px;
        padding-top: 24px;
    }
    
    .accordion-circles{
        width: 64px;
        height: 64px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-top: 8px;
    }
       
    .accordion-circles img{
        padding: 0px;
        width: 24px;
        height: 24px;
        margin: 19px 0 0 19px;
    }
    
    .padding-button{
        padding-bottom: 100px;
    }
    
    .color-blue{
        color: #3582E5 !important;
    }
    
    .linebreaks{
        display: block;
    }
    
    .margin-top{
        margin-top: 38px;
    }
    
    .accordion-image{
        /* display: flex;
        gap: 104px; */
        /* grid-template-columns: repeat(4, 1fr); */
        background-image: url(../image/accordion.png);
        background-size: cover;
        background-position-x: center;
    }

    .accordion-component .accordion-circle{
        display: none;
    }

    .accordion-image .accordion-circle {
        transform: translate(26em, -0.4em);    
    }

    .accordion-image .accordion-circle {
        display: block;
    }
}

@media screen and (min-width:1430px) and (max-width:1440px){
    .accordion-image .accordion-circle {
        transform: translate(30em, -0.4em) !important;    
    } 
}

@media screen and (min-width:1650px) and (max-width:1700px){
    .accordion-image .accordion-circle {
        transform: translate(44.4em, -0.4em) !important;    
    } 
}

@media screen and (min-width:1441px){
    .accordion-text{
        padding-top: 80px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    .accordion-component{
        padding-bottom: 28px;
        grid-column: 1/6;
    }

    .linebreaks{
        display: contents;
    }

    .linebreak{
        display: block;
    }

    .accordion-image{
        grid-column: 7/11;
    }

    .container{
        background-color: #000000;
        padding: 200px 64px 0 64px;
    }
    
    .accordion-title h1{
        font-size: 88px;
        font-weight: 700;
        line-height: 88px;
        padding-top: 32px;
    }
    
    .accordion-title h2{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    
    .title-border{
        width: 40px;
    }
    
    .accordion-text{
        padding-top: 120px;
    }
    
    .accordion-component h1{
        font-weight: 500;
        font-size: 64px;
        padding-top: 24px;
    }
    
    .accordion-component h2{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    
    .accordion-border{
        border-bottom: 1px solid #D9D9D9;
        width: 40px;
    }
    
    .accordion-component p{
        font-size: 16px;
        font-weight: 500;
        margin-top: 56px;
        line-height: 24px;
    }
    
    .accordion-button{
        padding: 16px 32px;
    }
    
    .accordion-button a{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2.4px;
    }
    
    .accordion-component{
        padding-bottom: 207px;
    }
    
    .accordion-image img{
        height: auto;
        margin-top: 0;
        display: none;
    }
    
    .accordion-circle{
        width: 64px;
        height: 64px;
        background-color: #3582E5;
        border-radius: 50%;
        margin-top: 8px;
        /* grid-column-start: 12; */
        /* display: block !important; */
    }
    
    .accordion-icon{
        display: flex;
        justify-content: space-between;
    }
    
    .accordion-circle img{
        padding: 8px;
        display: block;
    }
    
    input{
        transform: translate(41.3em, -4em);
        display: none;
        z-index: 1;
    }
    
    .accordion-content h2{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 8px;
    }
    
    .accordion-content{
        padding-top: 88px;
    }
    
    .accordion-content h1{
        color: #ffffff;
        font-weight: 500;
        font-style: normal;
        font-size: 64px;
        padding-top: 24px;
    }
    
    .accordion-circles{
        width: 64px;
        height: 64px;
        background-color: #ffffff;
        border-radius: 50%;
        margin-top: 8px;
    }
       
    .accordion-circles img{
        padding: 0px;
        width: 24px;
        height: 24px;
        margin: 19px 0 0 19px;
    }
    
    .padding-button{
        padding-bottom: 100px;
    }
    
    .color-blue{
        color: #3582E5 !important;
    }
    
    .linebreaks{
        display: block;
    }
    
    .margin-top{
        margin-top: 38px;
    }
    
    .accordion-image{
        /* display: flex;
        gap: 104px; */
        /* grid-template-columns: repeat(4, 1fr); */
        background-image: url(../image/accordion.png);
        background-size: cover;
        background-position-x: center;
    }

    .accordion-component .accordion-circle{
        display: none;
    }

    .accordion-image .accordion-circle {
        transform: translate(52em, -0.4em);
    }

    .accordion-image .accordion-circle {
        display: block;
    }
}
