* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

.hero{
  background-color: #000;
  color: white;
  /* background-image: url(/src/image/city.jpeg);
  background-size: cover;
  height: 52vh; */
}

.hero-text{
  margin: 0 24px 24px; 
}

.hero-text > p{
  font-size: 14px;
  font-weight: 500;
  /* color: #ffff; */
  margin-top: 32px;
  line-height: 20px;
  /* margin-bottom: 20px; */
  margin-bottom: 34px;
  color: #868686;
}

.hero-button > a{
  color: #ffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
}

.hero-button{
  /* width: 233px; */
  padding: 18px 42px;
  background-color:#3582E5;
  text-align: center;
}

.hero-text > h1{
  padding-top: 48px;
  font-size: 50px;
}

.hero-image > img{
  width: 89%;
  height: 25em;
  object-fit: cover;
  margin: 0 0 18px 22px;
  margin-top: 20px;
}

@media screen and (min-width:768px) and (max-width:1023px) {

  /* .hero{
    height: 66vh;
  } */

  .hero-text > p{
      margin-top: 64px;
      line-height: 30px;
  }

  .hero-button > a{
      font-size: 18px;
      padding-left: 32px;
  }

  .hero-text > h1{
      padding-top: 80px;
      font-size: 96px;
    }

    .hero-text > p{
      font-size: 18px;
      margin-top: 64px;
      line-height: 30px;
    }

    .hero-image > img{
      width: 94%;
      height: 34em;;
    }

    .hero-button{
      width: 284px;
    }
}
  @media screen and (min-width:1024px) and (max-width:1024px) {
    .hero-text h1{
      font-size: 79px !important;
    }

    .hero-text p{
      font-size: 13px !important;
    }
  }

@media screen and (min-width:1024px){
  .hero-text > h1{
    padding-top: 120px;
    font-size: 98px;
    transform: translateX(14px);
    width: 148%;
    /* margin-left: 64px; */
  }

  .hero{
    display: flex;
    max-width: 1450px;
    height: 914px;
    margin: auto;
    background-image: none;
  }

  .hero-image > img{
    /* width: auto;
    height: auto;
    object-fit: cover;
    margin: 0; */
    display: none;
  }

  .hero-text{
    width: 40%;
    margin-bottom: 60px;
  }

  .hero-image{
    width: 60%;
    /* margin-left: 64px; */
    background-image: url(../image/city.jpeg);

  }

  .hero-text p{
    margin-left: 24px;
    font-size: 16px;
    margin-top: 88px;
    color: #868686 ;
    margin-bottom: 48px;
   }

  .hero-button{
    margin-left: 24px;
    margin-top: 48px;
  }

  .linebreak{
    display: block;
  }
}
@media screen and (min-width:1440px) and (max-width: 1440px) {
  .hero-text h1{
    font-size: 110px;
  }
}
@media screen and (min-width:1441px) and (max-width:1980px){
  .hero{
    max-width: none;
    margin: 0;
    height: 870px;
  }

  .hero-text p{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 58px;
  }

  .hero-text h1{
    font-size: 122px;
    line-height: 112px;
  }

  .hero-button{
    padding: 28px 82px;
  } 

  .hero-button a{
    font-size: 18px;
  }
}