*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.inter{
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.navigation-item{
    display: flex;
    background-color: black;
    padding: 10px 10px 8px 0;
    text-align: center;
    position: fixed;
}

.logo{
    margin-left: 62%;
    max-width: 50%;
}

.logo img{
    width: 100%;
}

.hamburger-bar{
    color: white;
    position: absolute;
    font-size: 24px;
    left: 18px;
    top: 12px;
}

.hamburger-xmark{
    color: white;
    position: absolute;
    font-size: 26px;
    left: 18px;
    top: 10px;
}

input{
    position: relative;
    display: none;
    z-index: 1;
}

#check:checked ~ .hamburger-bar{
    visibility: hidden;
    opacity: 0;
}

#check:checked ~ .hamburger-xmark{
   transition:  all 0.2s ease-in ;
   opacity: 1;
}

.hamburger-xmark{
    opacity: 0;
}

.menu-items:hover{
    font-weight: bold;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0);
    list-style: none;
    /* line-height: 3em; */
    left: 0;
    text-align: left;
    margin-top: 10%;
    left: -100%;
    transition: all 0.25s ease-in-out;
    height: 100%;
}

.menu-items{
    padding-left: 34px;
    font-size: 14px;
}

#check:checked ~ .menu{
    left: 0;
} 

a{
    color: white;
    text-decoration: none;
}

.button a{
    background-color: white;
    color: black;
    padding: 10px;
}

.fa-angle-down{
    display: none;
}

.button{
    margin: 8px 0 20px 34px;
    font-size: 14px;
}

.button a:hover{
    background-color: pink;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .menu{
        margin-top: 8%;
        line-height: 4em;
    }

    .hamburger-bar{
        font-size: 2em;
        left: 22px;
        top: 20px;
    }

    .hamburger-xmark{
        font-size: 2em;
        left: 24px;
        top: 20px;
    }

    .menu-items{
        font-size: 16px;
        padding-left: 34px;
    }

    .button{
        font-size: 16px;
    }

    .logo{
        margin-left: 65%;
        max-width: 34%;
    }
}

@media screen and (min-width:1024px) and (max-width: 1024px) {
    .logo{
        /* max-width: 12% !important; */
        padding-left: 24px !important;
    }

    .logo img{
        width: 12em !important;
    }

    .menu{
        gap: 26px !important;
    }

    .button{
        margin-left: 0;
        margin-bottom: 12px;
    }

    .navigation-item{
        gap: 6% !important;
    }

    .fa-angle-down{
        top: 36% !important;
    }
}
@media screen and (min-width:1024px) and (max-width:1440px){
    .logo{
        max-width: 20%;
        margin-left: 0;
        padding-left: 64px;
    }

    .logo img{
        width: 250px;
    }

    .hamburger-bar,.hamburger-xmark{
        display: none;
    }

    .navigation-item{
        gap: 14%;
        height: 74px;
        align-items: center;
        max-width: 1440px;
        margin: auto;
        position: static;
    }

    .menu{
        position: static;
        margin-top: 0;
        flex-direction: row;
        /* line-height: 2em; */
        gap: 44px;
        transition: all 0s ease-in-out;
    }

    .button a{
        margin: 0;
        padding: 12px 30px;
        font-size: 16px;
        font-weight: bold;
    }

    .button{
        margin-top: 14px;
        cursor: pointer;
        margin-bottom: 12px;
        margin-left: 0;
    }

    .menu-items{
        /* position: relative; */
        padding-top: 12px;
        padding-left: 10px;
        font-size: 16px;
    }

    .fa-angle-down{
        color: white;
        cursor: pointer;
        font-size: 20px;
        display: block;
        padding-left: 4em;
        transform: translateY(-20px);
    }
}
@media screen and (min-width:1300px) and (max-width: 1380px) {
    .navigation-item{
        gap: 18%;
    }

    .menu{
        gap: 46px;
    }
}
@media screen and (min-width:1440px) and (max-width: 1440px) {
    .navigation-item{
        gap: 20% !important;
    }

    .menu{
        gap: 44px !important;
        margin-top: 16px !important;
    }
}

@media screen and (min-width:1680px) and (max-width: 1680px) {
   .menu{    
        /* line-height: 1em !important; */
        gap: 60px !important;
        margin-top: 16px !important;
    }

    .fa-angle-down{
        top: 14% !important;
    }
}

@media screen and (min-width:1441px) and (max-width:1980px){
    
    .logo{
        max-width: 20%;
        margin-left: 0;
        /* border: 1px solid #ffff; */
        padding-left: 64px;
    }

    .logo img{
        width: 250px;
    }

    .hamburger-bar,.hamburger-xmark{
        display: none;
    }

    .navigation-item{
        gap: 18%;
        height: 74px;
        align-items: center;
        position: static;
    }

    .menu{
        position: static;
        margin-top: 10px;
        flex-direction: row;
        /* line-height: 2em; */
        gap: 48px;
        transition: all 0s ease-in-out;
    }

    .button a{
        margin: 0;
        padding: 12px 30px;
        font-size: 20px;
        font-weight: bold;
    }

    .button{
        margin-top: 10px;
        cursor: pointer;
        margin-left: 9px;
    }

    .menu-items{
        /* position: relative; */
        padding-top: 12px;
        padding-left: 10px;
        font-size: 20px;
    }

    .fa-angle-down{
        color: white;
        cursor: pointer;
        font-size: 20px;
        display: block;
        padding-left: 5em;
        transform: translateY(-24px);
    }
}