*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.inter{
    font-family: "Inter";
    /* font-weight: 700; */
    font-style: normal;
}
.navigation-item{
    display: flex;
    background-color: black;
    padding: 20px;
    text-align: center;
}
.logo{
    margin-left: 62%;
    max-width: 50%;
}
.logo img{
    width: 100%;
}
.hamburger-bar{
    color: white;
    position: absolute;
    font-size: 28px;
    left: 14px;
    top: 18px;
}
.hamburger-xmark{
    color: white;
    position: absolute;
    font-size: 30px;
    left: 14px;
    top: 18px;
}
input{
    position: relative;
    display: none;
    z-index: 1;
}
#check:checked ~ .hamburger-bar{
    visibility: hidden;
    opacity: 0;
}
#check:checked ~ .hamburger-xmark{
   transition:  all 0.2s ease-in ;
   opacity: 1;
}
.hamburger-xmark{
    opacity: 0;
}
.menu{
    width: 100%;
    position: fixed;
    background-color: red;
    list-style: none;
    top: 0;
    text-align: left;
}
a{
    color: white;
    text-decoration: none;
}