*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body{
    width: 1440px;
}
.inter{
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
  }
.navigation-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 24px 64px;
    height: 107px;
}
.logo{
    max-width: 20%;
}
.logo img{
    width: 250px;
    height: 52px;
    position: absolute;
    top: 24px;
    left: 64px;
    border: 1px solid black;
}
.menu{
    display: inline-flex;
    justify-content: space-between;
    gap: 64px;
    width: 46%;
    top: 0;
    right: -100%;
    transition: all 0.2s ease-in-out;
}
.menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1%;
    background-color: white;
    transition: 0.50s ease-in-out;
}
.menu-home{
    font-weight: 700;
    line-height: 150%;
    width: 65px;
    height: 32px;
    padding: 4px;
    gap: 4px;
    font-family: inter;
}
li a{
    font-size: 16px;
    color: #ffff; 
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;

}
.tooltip{
   position: relative;
   font-family: "Inter";
}
button{
    font-weight: 700;
    width: 199px;
    height: 59px;
    padding: 16px 32px;
    font-size: 16px;
}
 .tooltip p{
    cursor: pointer;
    /* position: relative; */
}
.icon{
    position: relative;
}
.hamburger-bar , .hamburger-xmark {
    position: absolute;
    cursor: pointer;
    display: none;
    color: white
}
.hamburger-bar{
    right: 4%;
    /* transform: translateY(-47%); */
    top: 26px;
}
#check{
    display: none;
}

.hamburger-xmark {
    top: 22px;
    right: 4%;
    opacity: 0;
}
@media screen and (max-width:1023px) {
    body{
        padding: 0;
        width: 100%;
    }
    .icon{
        padding: 22px;
        /* padding-left: 16.3em; */
        position: relative;
        width: 90%;
        background-color: #000000;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 76px;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: all 0.25s ease-in-out;
        color: aliceblue;
    }
    .fa-bars{
        font-size: 1.6em;
    }
    .fa-xmark{
        font-size: 2em;
    }
    input{
        position: relative;
        left: 14.2em;
        display: none;
        z-index: 1;
    }
    .navigation-item{
        /* width: 95%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        background-color: black;
        padding: 12px 20px;
        height: 100%;
    }
    .menu :nth-child(3){
        padding-left: 0;
    }
    li{
        color: white;
        font-size: 32px;
    }
    .hamburger-xmark, .hamburger-bar{
        display: block;
    }
    #check:checked ~ .hamburger-bar{
        visibility: hidden;
        opacity: 0;
    }
    #check:checked ~ .hamburger-xmark{
       transition:  all 0.2s ease-in ;
       opacity: 1;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    .logo{
        max-width: 36%;
    }
    .logo img{
        display: block;
        padding-top: 0;
        position: static;
        width: 100%;
    }
    .menu :nth-child(3){
        padding-left: 0 !important;
    }
    .menu :nth-last-child(2){
        padding-left: 0 !important;
    }
    .menu li:nth-child(1){
        margin-top: 48px;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .hamburger-bar{
        right: 4%;
        top: 26%;
    }
    .hamburger-xmark {
        top: 25%;
        right: 4%;
        opacity: 0;
    }
    .fa-bars{
        font-size: 2.8em;
    }
    .fa-xmark{
        font-size: 3em;
    }
    .menu{
        top:78px;
    }
    li{
        font-size: 48px !important;
    }
}
@media screen and (min-width:1024px) and (max-width:1279px) {

    .navigation-item{
        justify-content: start;
        gap: 18em;
    }
    .logo img{
        width: 90%;
    }

}